<div class="entry-list-item col-lg-12">
  <div class="row">
    <div class="col-lg-12">
      <p class="text-justify">
        {{entry.content}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-8 text-right">
      <h5 class="author">{{entry.author}}</h5>
    </div>
  </div>
  <div class="action-buttons row text-center">
    <div class="col-lg-2 col-lg-offset-1">
      <button class="btn btn-success">
        <span class="glyphicon glyphicon-heart"></span>
        Beğen | {{entry.likeCount}}
      </button>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-info">
        <span class="glyphicon glyphicon-share"></span>
        Paylaş
      </button>
    </div>
    <div class="col-lg-2">
      <button ng-class="{'active':entry.shouldShowCommentInput}" class="btn btn-default " ng-init="entry.shouldShowCommentInput = false"
              ng-click="entry.shouldShowCommentInput = !entry.shouldShowCommentInput ">
        <span class="glyphicon glyphicon-comment"></span>
        Yorum Yap
      </button>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-warning">
        <span class="glyphicon glyphicon-arrow-down"></span>
        Düşür | {{entry.dislikeCount}}
      </button>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-danger">
        <span class="glyphicon glyphicon-flag"></span>
        Şikayet et
      </button>
    </div>
  </div>
  <div ng-show="entry.shouldShowCommentInput" class="row margin-top entry-comment-input">
    <div class="col-lg-10 col-lg-offset-1">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row margin-top">
    <div ng-repeat="comment in entry.comments" class="col-lg-10 col-lg-offset-1 entry-comment-item">
      <p>
        <strong>{{comment.author}}</strong>
        {{comment.text}}
      </p>
    </div>
  </div>
</div>